<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/j2ee http://xmlns.jcp.org/xml/ns/j2ee/web-app_3_1.xsd" id="WebApp_ID" version="3.0">
  <display-name>SeOrganize</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>br.com.seorganizejavaweb.controller.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutenticadorController</display-name>
    <servlet-name>AutenticadorController</servlet-name>
    <servlet-class>br.com.seorganizejavaweb.controller.AutenticadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticadorController</servlet-name>
    <url-pattern>/AutenticadorController.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroAutenticacao</display-name>
    <filter-name>FiltroAutenticacao</filter-name>
    <filter-class>br.com.seorganizejavaweb.controller.FiltroAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAutenticacao</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ContaController</display-name>
    <servlet-name>ContaController</servlet-name>
    <servlet-class>br.com.seorganizejavaweb.controller.ContaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContaController</servlet-name>
    <url-pattern>/ContaController.do</url-pattern>
  </servlet-mapping>
</web-app>